.list-group-item {
    border: 0cm !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px !important;
    }
}